.home-container {
  margin-top: 2vw;
  overflow: hidden;
}

.home-textImageContainer {
  position: relative;
}

.home-textImage {
  position: absolute;
  top: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 99;
  font-size: var(--TEXT-BIGGEST);
  color: var(--COLOR-WHITE);
  line-height: 1.5em;
  width: 100%;
}

.home-backgroundImage {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  
  opacity: 0.95;
  height: 30rem;
  object-fit: cover;
}

.home-whatWeOffer {
  margin: 4vw 0 4vw 0;
}

.home-whatWeOfferTitle {
  font-family: 'Mali-Bold';
  font-size: var(--TEXT-BIGGEST);
  color: var(--COLOR-GOLD);
  margin-left: 13.5vw;
  margin-bottom: 4vw;
}

.home-cards {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  flex-direction: row;
}

@media (max-width: 767px) {
  .home-textImage {
    font-size: var(--TEXT-BIG);
  }

  .home-backgroundImage {
    height: 16rem;
  }

  .home-whatWeOfferTitle {
    font-size: var(--TEXT-BIG);
    margin-left: 6.5vw;
  }
}
