.genericScreen-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 5vw;
}

.genericScreen-content {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.genericScreen-title {
  font-family: 'Mali-Bold';
  font-size: var(--TEXT-BIGGEST);
  color: var(--COLOR-GOLD);
}

.genericScreen-content p {
  max-width: 50%;
  font-size: var(--TEXT-BIG);
  color: var(--COLOR-BLACK);
  text-align: justify;
}

.genericScreen-content img {
  margin-top: -5vw;
  width: 40%;
}

@media (max-width: 767px) {
  .genericScreen-container {
    margin: 0 2vw;
  }

  .genericScreen-content {
    flex-direction: column;
  }

  .genericScreen-title {
    font-size: var(--TEXT-VERY_BIG);
  }

  .genericScreen-content p {
    max-width: 80%;
    font-size: var(--TEXT-REGULAR);
  }

  .genericScreen-content img {
    margin: 2vw 0;
    width: 75%;
  }
}
