@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading-container {
  width: 80px;
  height: 80px;
  border-top: 2px solid var(--COLOR-GOLD);
  border-radius: 100%;
  animation: 1s linear spin;
  animation-iteration-count: infinite;
}
