:root {
  --COLOR-GOLD: rgba(184, 161, 48, 1);
  --COLOR-DARK_GOLD: rgba(125, 105, 10, 1);
  --COLOR-WHITE: rgba(255, 255, 255, 1);
  --COLOR-BLACK: rgba(0, 0, 0, 1);
  --COLOR-LIGHT_BLACK: rgba(26, 26, 26, 1);
  --COLOR-GRAY: rgba(56, 56, 56, 1);
  --COLOR-SHADOW: rgba(0, 0, 0, 0.2);

  --TEXT-BIGGEST: 40px;
  --TEXT-VERY_BIG: 30px;
  --TEXT-BIG: 22px;
  --TEXT-REGULAR: 15px;
  --TEXT-SMALL: 12px;
  --TEXT-SMALLEST: 5px;

  --BORDER_RADIUS-BIG: 20px;
  --BORDER_RADIUS-REGULAR: 15px;
  --BORDER_RADIUS-SMALL: 10px;
  --BORDER_RADIUS-SMALLEST: 5px;
}

body {
  margin: 0;
  font-family: 'Mali';
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

@font-face {
  font-family: Mali;
  src: url(assets/fonts/Mali-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Mali-ExtraLight;
  src: url(assets/fonts/Mali-ExtraLight.ttf);
  font-weight: 200;
}

@font-face {
  font-family: Mali-Light;
  src: url(assets/fonts/Mali-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Mali-Medium;
  src: url(assets/fonts/Mali-Light.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Mali-SemiBold;
  src: url(assets/fonts/Mali-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Mali-Bold;
  src: url(assets/fonts/Mali-Bold.ttf);
  font-weight: 700;
}
