:root {
  --COLOR_GOLD: rgba(184, 161, 48, 1);
  --COLOR_WHITE: rgba(255, 255, 255, 1);
  --COLOR_BLACK: rgba(0, 0, 0, 1);

  --TEXT_BIG: 50px;
  --TEXT_REGULAR: 30px;
  --TEXT_SMALL: 25px;
  --TEXT_SMALLEST: 20px;

  --BORDER-RADIUS_BIG: 30px;
  --BORDER-RADIUS_REGULAR: 15px;
  --BORDER-RADIUS_SMALL: 10px;
  --BORDER-RADIUS_SMALLEST: 5px;
}

body {
  margin: 0;
  font-family: 'Mali';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: Mali;
  src: url(assets/fonts/Mali-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Mali-ExtraLight;
  src: url(assets/fonts/Mali-ExtraLight.ttf);
  font-weight: 200;
}

@font-face {
  font-family: Mali-Light;
  src: url(assets/fonts/Mali-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Mali-Medium;
  src: url(assets/fonts/Mali-Light.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Mali-SemiBold;
  src: url(assets/fonts/Mali-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Mali-Bold;
  src: url(assets/fonts/Mali-Bold.ttf);
  font-weight: 700;
}
